# Adobe Stock API Credentials
# To use the Adobe Stock API, you need to obtain API credentials from Adobe:
# 1. Sign up for an Adobe Developer account at https://developer.adobe.com/
# 2. Create a new project in the Adobe Developer Console
# 3. Add the Adobe Stock API to your project
# 4. Copy your API Key and Client ID below

VITE_ADOBE_STOCK_API_KEY=
VITE_ADOBE_STOCK_CLIENT_ID=

# Other environment variables
# Add any other environment variables your application needs below 

VITE_IMS_SCOPE=
VITE_IMS_CLIENT_ID=
VITE_IMS_ENV=